<span class="flex flex-column align-items-center bg-cyan-300 hover:bg-cyan-200 p-2 pb-3">
  <span [style]="{'width':'99vw'}">
    <div class="flex justify-content-end p-2">
      <a class="capitalize no-underline" routerLink="/profil"><i class="pi pi-user"></i> Profil</a>
    </div>
    <a class="text-700 no-underline flex justify-content-center " routerLink="**">
      <span class="font-light text-5xl uppercase">money saved</span>
    </a>
    <p class="flex justify-content-start font-medium text-left text-base capitalize m-2">
      Shall we plan one more time !
    </p>
    <p-menubar [model]="items"></p-menubar>
  </span>
</span>